<!--
 * @Author: fuyunyou
 * @Date: 2024-10-22 14:40:03
 * @LastEditors: fuyunyou
 * @LastEditTime: 2024-10-23 09:42:22
 * @Description: 
 * @FilePath: \learning_log\learning_logs\templates\learning_logs\base.html
-->
<p>
    <a href="{% url 'learning_logs:index' %}">Learning Log</a> -
    <a href="{% url 'learning_logs:topics' %}">Topics</a> -
    {% if user.is_authenticated %}
        Hello,{{ user.username }}.
        <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a> -
        <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}

</p>

{% block content %} {% endblock content %}