<!--
 * @Author: fuyunyou
 * @Date: 2024-10-23 10:06:24
 * @LastEditors: fuyunyou
 * @LastEditTime: 2024-10-23 16:03:49
 * @Description: 
 * @FilePath: \learning_log\users\templates\registration\register.html
-->
{% extends "learning_logs/base.html" %}

{% block content %}

    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button name="submit">Register</button>
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />

    </form>

{% endblock content %}